{{#if model.immature}}
<h4>Immature Blocks</h4>
<div class="table-responsive">
  <table class="table m-table table-condensed table-striped">
    <thead>
      <tr>
        <th>Height</th>
        <th>Time Found</th>
        <th>Variance</th>
        <th>Reward</th>
        <th>Block Hash</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.immature as |block|}}
        {{partial "blocks/block"}}
      {{/each}}
    </tbody>
  </table>
</div>
{{else}}
<h3>No immature blocks yet</h3>
{{/if}}
