            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title ">About</h3>
                    </div>
                </div>
            </div>
            <!-- END: Subheader -->

<div class="m-content">

  <h4>Terms of Service</h4>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>
  <h4>Details</h4>
  <p>
    <ul>
      <li>High performance network and server</li>
      <li>Server is datacenter located on dedicated hardware</li>
      <li>Regular payouts and high performance mining</li>
    </ul>
  </p>
</div>
